.jumbotron {
  padding-top: 6rem;
  background-color: #fbeff4;
}

#work {
  background-color: #fbeff4;
}
section {
  padding-top: 5rem;
}
.display-6 {
  font-size: 2rem;
}
.card-text {
  font-size: 1rem;
}
